:root {
    --color1: #252525;
    --color2: #95D676;
    --color3: #E74242;
    --color4: #FFC86D;
    --color5: #494947;
}

/*Hero img start*/
.hero {
    background-image: url(../imgs/heroPlaceHolder.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
}
/*Hero img stop*/

/*google map*/
#map {
    height: 400px;
    width: 100%;
}

#mapHere {
    background-image: url(../imgs/mapPlaceHolder.PNG);
}

/*Custom style*/
.custom-address {
    color: var(--color1);
}
.custom-address:focus, .custom-address:hover {
    color: var(--color2);
    text-decoration: underline;
}

.custom-navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.custom-background-color-1 {
    background-color: var(--color2);
}

.custom-padding-top {
    padding-top: 43px;
}